{% extends 'base.html.twig' %}

{% block title %}Hello ExtractController!{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('extract') }}
{% endblock %}
{% block body %}
    <div class="flex w-full gap-x-10 mt-2">
        <iframe class="h-screen min-h-screen flex-1" src="{{ path("app_get_pdf",{ 'docId': form.id.vars.value }) }}"
                allow="fullscreen"></iframe>
        {{ form_start(form,{'attr':{'class': "flex-1"}}) }}
        <div id="sortref">
            {% for paperReferences in form.paperReferences %}
                <div class="border-solid border-2 border-black mb-2 {% if paperReferences.vars.value.accepted is same as(0) %} hidden{% endif %}"
                     data-idref="{{ paperReferences.id.vars.value }}">
                    <i class="fa-solid fa-up-down-left-right handle" aria-hidden="true"></i>
                    {{ form_widget(paperReferences.reference,{'id':"reference-"~paperReferences.id.vars.value,'attr':{'class': "hidden block text-gray-700 text-sm font-bold mb-2"}}) }}
                    {% set jsonDecodedRef = prettyReference(paperReferences.reference.vars.data) %}
                    {% set doiDecodedRef = '' %}
                    <p id="textReference-{{ paperReferences.id.vars.value }}">{{ jsonDecodedRef['raw_reference'] }}</p>
                    {% if jsonDecodedRef['doi'] is defined %}
                        <a href="https://doi.org/{{ jsonDecodedRef['doi'] }}"
                           class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" rel="noopener"
                           target="_blank" id="linkDoiRef-{{ paperReferences.id.vars.value }}">{{ jsonDecodedRef['doi'] }}</a>
                        {% set doiDecodedRef = jsonDecodedRef['doi'] %}
                    {% endif %}
                    <div class="hidden" id="modifyTextArea-{{ paperReferences.id.vars.value }}">{{ form_row(paperReferences.modifyReference,{'id':"textareaRef-"~paperReferences.id.vars.value,'value': jsonDecodedRef['raw_reference']}) }}</div>
                    <div class="hidden" id="modifyReferenceDoi-{{ paperReferences.id.vars.value }}">{{ form_row(paperReferences.modifyReferenceDoi,{'id':"textDoiRef-"~paperReferences.id.vars.value,'value': doiDecodedRef}) }}</div>
                    <div class="hidden" id="acceptModifyBtn-{{ paperReferences.id.vars.value }}">{{ form_row(paperReferences.acceptModifyBtn,{'attr': {'class':"
                    w-1/2
                    bg-transparent
                    hover:bg-emerald-500
                    text-emerald-400
                    font-semibold
                    hover:text-white
                    py-2 px-4 border
                    border-emerald-500
                    hover:border-transparent
                    rounded"}}) }}</div>
                    <div class="hidden" id="cancelModifyBtn-{{ paperReferences.id.vars.value }}">{{ form_row(paperReferences.cancelModifyBtn,{'attr': {'class':"
                    w-1/2
                    bg-transparent
                    hover:bg-rose-500
                    text-rose-400
                    font-semibold
                    hover:text-white
                    py-2 px-4 border
                    border-rose-500
                    hover:border-transparent
                    rounded"}}) }}</div>
                    <div class="hidden" id="radio-group-choice-{{ paperReferences.id.vars.value }}">{{ form_widget(paperReferences.accepted) }}</div>
                    <br>
                    {{ form_widget(paperReferences.modifyBtn,{'id':'modifyBtn','attr':{'data-idref': paperReferences.id.vars.value,'class':
                        "w-1/2 bg-transparent
                        hover:bg-cyan-300 text-cyan-300
                        font-semibold hover:text-white py-2 px-4
                        border border-cyan-500 hover:border-transparent
                        rounded mb-2"
                    }}) }}
                    <label class="relative inline-flex items-center mr-5 cursor-pointer">
                        <input id="toggle-input" type="checkbox" value="{{ paperReferences.id.vars.value }}" class="sr-only peer" {% if paperReferences.accepted.vars.data is same as(1) %} checked {% endif %}>
                        <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-red-700 peer-focus:ring-4
                        peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full
                        peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all
                        dark:border-gray-600 peer-checked:bg-green-600"></div>
                    </label>
                    <span>{{ form_row(paperReferences.reference_order) }}</span>
                    <span>{{ form_row(paperReferences.id) }}</span>
                </div>
            {% endfor %}
            {{ form_row(form.save,{'attr': {'class':"
            w-full
            bg-transparent
            hover:bg-emerald-500
            text-emerald-400
            font-semibold
            hover:text-white
            py-2 px-4 border
            border-emerald-500
            hover:border-transparent
            rounded
            mt-4"}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}