{% extends 'base.html.twig' %}

{% block title %}Hello ExtractController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div>
        {% for fc in form.choice %}
            {% for key,reference in references.ref %}
                {% if key|trans is same as(fc.vars.value) %}
                    <div class="mt-3">
                        <div class="shadow-xl">
                            {% if reference.raw_reference is defined %}<p>{{ reference.raw_reference }}</p>{% endif %}
                            {% if reference.doi is defined %}
                                <p class="mb-1">Doi : <a
                                            class="text-blue-600 hover:text-blue-800 visited:text-purple-600"
                                            href="https://doi.org/{{ reference.doi }}" rel="noopener"
                                            target="_blank">{{ reference.doi }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {{ form_widget(fc, {'attr': {"class":"accent-emerald-500/75"}}) }}
        {% endfor %}
    </div>
    {{ form_end(form) }}
{% endblock %}
