<div class="modal fade" id="modal-addref" tabindex="-1"
     aria-labelledby="addRefModalTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRefModalTitle">{{ 'Add a reference'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{{ 'Close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label fw-semibold">{{ form_label(form.addReference) }}</label>
                    <div class="col-sm-8">{{ form_widget(form.addReference, {'attr': {'class': 'form-control textarea-height'}}) }}</div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label fw-semibold">{{ form_label(form.addReferenceDoi) }}</label>
                    <div class="col-sm-8">{{ form_widget(form.addReferenceDoi, {'attr': {'class': 'form-control', 'placeholder': 'DOI, URL'}}) }}</div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(btnCancelAddNewReference, {'id': 'cancel-adding', 'attr': {'class': 'btn btn-outline-secondary', 'data-bs-dismiss': 'modal'}}) }}
                {{ form_widget(submitNewRef, {'id': 'confirm-adding', 'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
    </div>
</div>
